# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\13. Praktikum Pemrograman Web Lanjut\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
